Body {background-color : lightblue;
    text-align : center;
    font-size : 40px}
#calculati{font-size : 40px}
#calculate{font-size : 40px}
#calculate2{font-size : 40px}
#hhh{background-color : yellowgreen;
    height : 40px;
    font-size : 20px}
#hhh2{background-color : yellowgreen;
    height : 40px;
    font-size : 20px}
#hhh1{background-color : yellowgreen;
    height : 40px;
    font-size : 20px}
#ssss{width : 450px;}
#hhh3{background-color : yellowgreen;
    height : 40px;
    font-size : 20px}
#hhh4{background-color : yellowgreen;
    height : 40px;
    font-size : 20px}